#hd {
  background-color: #000000;
}
#hd a {
  color: white;
  white-space: nowrap;
}
#hd h1 a img {
  width: 150px;
}
#hd .gnb .gnb_li:hover .gnb_a {
  text-decoration: underline;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 400px;
}
#hd .gnb .gnb_li:hover li a:hover {
  text-decoration: underline;
}
#hd .gnb .gnb_li .gnb_ul {
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  background-color: black;
  transition: 0.5s;
  text-align: center;
  line-height: 2;
  max-height: 0;
  padding: 0;
}
#hd .gnb .gnb_li .gnb_ul li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 2rem;
}
#hd .gnb .gnb_li .gnb_ul li:nth-child(1) {
  border-top: 1px solid white;
  padding-top: 20px;
}
#hd .gnb .gnb_li .gnb_ul li:last-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}