body {
  font-family: "helvetica neue", "Noto Sans KR", sans-serif !important;
}
body a {
  text-decoration: none;
  color: #000000;
}
body li {
  list-style: none;
}

#hd {
  background-color: #000000;
}
#hd a {
  color: white;
  white-space: nowrap;
}
#hd h1 a {
  width: 150px;
}
#hd .gnb .gnb_li {
  z-index: 100000;
}
#hd .gnb .gnb_li:hover .gnb_a {
  text-decoration: underline;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 400px;
}
#hd .gnb .gnb_li:hover li a:hover {
  text-decoration: underline;
}
#hd .gnb .gnb_li .gnb_ul {
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  background-color: black;
  transition: 0.5s;
  text-align: center;
  line-height: 2;
  max-height: 0;
  padding: 0;
}
#hd .gnb .gnb_li .gnb_ul li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 2rem;
}
#hd .gnb .gnb_li .gnb_ul li:nth-child(1) {
  border-top: 1px solid white;
  padding-top: 20px;
}
#hd .gnb .gnb_li .gnb_ul li:last-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

#mainbanner {
  font-family: "helvetica-neue";
}
#mainbanner .swiper {
  width: 100%;
  height: 100%;
}
#mainbanner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainbanner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainbanner .main1 {
  background-image: url("/img/mainbanner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}
#mainbanner .main1 .main_black {
  width: 660px;
  height: 800px;
  background-color: #000000;
}
#mainbanner .main1 .main_txt {
  top: 22%;
  left: 49%;
}
#mainbanner .main1 .main_txt .main_title {
  color: #fff;
  font-size: 11rem;
  line-height: 0.75;
  font-weight: 900;
}
#mainbanner .main2 {
  background-image: url("/img/mainbanner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}
#mainbanner .main3 {
  background-image: url("/img/mainbanner3-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}