@charset "UTF-8";
body {
  font-family: "Helvetica73", "Noto Sans KR", sans-serif !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
  color: #000000;
}
body li {
  list-style: none;
}
body ul, body li, body p {
  padding: 0;
  margin: 0;
}
body .maintxt {
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -1.6px;
}
body .subtxt {
  color: #333;
  font-size: 1.15rem;
  font-style: normal;
  line-height: normal;
}
body .subproduct {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.36px;
  opacity: 1;
  padding: 0 0 0.5rem 0.8rem;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
body .subproduct .small {
  top: 90%;
  color: #fff;
}
body .subproduct .tall {
  top: 80%;
}
body .mx20 {
  margin: 0 20px;
}
body .mt20 {
  margin-top: 20px;
}
body .mt200 {
  margin-top: 200px;
}
body .pt200 {
  padding-top: 200px;
}
body .fs3 {
  font-size: 1.75rem;
}
body .fs4 {
  font-size: 1.5rem;
}
body .fs5 {
  font-size: 1.25rem;
}
body .inner1824 {
  max-width: 1824px;
}
body .margin48 {
  margin: 0 48px;
}

#eventbanner {
  position: fixed;
  top: 0;
  height: 35px;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}
#eventbanner .swiper-slide {
  width: 33.333%;
  max-width: 400px;
}
@media (max-width: 575px) {
  #eventbanner .swiper-slide {
    max-width: 100%;
    width: 50%;
  }
}
@media (max-width: 375px) {
  #eventbanner .swiper-slide {
    width: 100%;
    margin-right: 50px;
  }
}
#eventbanner .swiper-slide span {
  line-height: 2;
  color: #000;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

#hd {
  top: 35px;
  width: 100%;
  z-index: 1000;
  font-family: "Helvetica Neue", "Noto Sans KR", sans-serif !important;
  background-color: #000;
}
#hd.showmenu:before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 100;
  border-top: #fff 1px solid;
}
#hd.showmenu .gnb_li {
  padding: 0 40px;
}
#hd.showmenu .gnb_li:nth-child(5) {
  padding: 1.5rem 80px;
}
@media (min-width: 1300px) {
  #hd.showmenu .gnb_li .gnb_ul {
    height: 300px;
    max-height: none !important;
    transition: 0s !important;
  }
}
#hd.showmenu .gnb_li .gnb_ul li {
  border: 0 !important;
}
#hd.showmenu .gnb_li .gnb_ul li:nth-child(1) {
  border-top: #fff 1px solid !important;
}
#hd.showmenu .formxbtn {
  display: none;
}
#hd.showmenu .formnavi {
  display: block !important;
  position: absolute;
  top: 125%;
  z-index: 1200;
  right: 1%;
}
#hd a {
  color: white;
  white-space: nowrap;
}
#hd h1 a {
  width: 150px;
}
#hd .gnb {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hd .gnb .gnb_li {
  z-index: 1000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#hd .gnb .gnb_li:hover .gnb_a {
  text-decoration: underline;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 400px;
}
#hd .gnb .gnb_li:hover li a:hover {
  text-decoration: underline;
}
#hd .gnb .gnb_li .gnb_ul {
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  background-color: black;
  transition: 0.5s;
  text-align: center;
  line-height: 2;
  max-height: 0;
  padding: 0;
  position: absolute;
}
#hd .gnb .gnb_li .gnb_ul li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 2rem;
}
#hd .gnb .gnb_li .gnb_ul li:nth-child(1) {
  border-top: 1px solid white;
  padding-top: 20px;
}
#hd .gnb .gnb_li .gnb_ul li:last-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
#hd .forminput {
  border-radius: inherit;
}
#hd .forminput:focus {
  border-color: #000;
  outline: none;
}

#mainbanner .swiper {
  width: 100%;
  height: 100%;
}
#mainbanner .swiper-slide {
  text-align: center;
  font-size: 1.15rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainbanner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainbanner .main1 {
  background-image: url("./img/mainbanner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 100vh;
}
#mainbanner .main1 .main_txt {
  color: #fff;
  font-size: 11rem;
  line-height: 0.8;
  font-family: "Helvetica Black";
  text-align: start;
  white-space: nowrap;
  padding-right: 30rem;
  padding-top: 5rem;
}
#mainbanner .main2 {
  background-image: url("./img/mainbanner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 100vh;
}
#mainbanner .main3 {
  background-image: url("./img/mainbanner3-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 100vh;
}
#mainbanner .main_black {
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100vh;
  background-color: #000000;
}
#mainbanner .main_a {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  display: block;
  width: 470px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 3.3;
  margin: 0 auto;
}
#mainbanner .main_txt {
  padding-top: 8rem;
  text-align: start;
  font-family: "Helvetica73", "Noto Sans KR", sans-serif;
}
#mainbanner .main_txt .main_subtxt {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 100px 0 170px;
}
#mainbanner .main_txt .main_title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}
#mainbanner .swiper-scrollbar-drag {
  background: #fff;
}

#product {
  display: block;
  width: 100%;
  height: 800px;
  background-color: #000;
}
#product .productSwiper {
  width: 100%;
  height: 100%;
}
#product .productSwiper .swiper-slide {
  width: 364px;
  height: 350px;
  background-color: #fff;
}
#product .productSwiper .swiper-slide img {
  width: 100%;
}
#product .swiper-button-prev, #product .swiper-button-next {
  color: #fff;
  position: unset !important;
}
#product .swiper-button-prev::after {
  content: "◀";
  font-size: 2rem;
  margin-right: 1rem;
}
#product .swiper-button-next::after {
  content: "▶";
  font-size: 2rem;
}
#product .swiperbtn {
  display: flex;
  top: -10%;
  right: 0;
  padding-right: 2rem;
}
#product .product_a {
  background-color: #000;
  height: 100%;
}
#product .product_a:hover img {
  opacity: 0.45;
}
#product .product_a:hover .subproduct {
  opacity: 1;
  z-index: 1000;
}
#product .product_a .subproduct {
  opacity: 0;
}
#product .maintxt {
  color: #fff;
}
#product .product_subtxt {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#product .point_txt {
  color: #000;
  font-size: 140px;
  font-family: "Helvetica Black";
  line-height: normal;
  text-align: end;
  padding-right: 2rem;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}

#about_prietag .about_smdiv {
  width: calc((100% - 640px) / 2);
  height: 550px;
}
#about_prietag .about_talldiv {
  width: 600px;
  height: 550px;
}
#about_prietag .about_txt:hover .up {
  transition: 0.5s;
  transform: translateY(-40%);
}
#about_prietag .about_txt:hover .article {
  display: block !important;
  top: 90%;
  left: 4%;
}
#about_prietag .about_txt:hover .up1 {
  transition: 0.5s;
  transform: translateY(-49%);
}
#about_prietag .about_txt:hover .article1 {
  display: block !important;
  top: 95%;
  left: 2.7%;
}
#about_prietag .about_txt:hover .article2 {
  display: block !important;
  top: 95%;
  left: 5%;
}

#zerowaste {
  height: 300px;
}
#zerowaste .zerotxt {
  width: calc(50% - 249px);
  height: 300px;
}
#zerowaste .zerotxt p {
  font-size: 0.9rem;
}
#zerowaste .subtitle {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#zerowaste .swiper {
  width: 100%;
  height: 100%;
}
#zerowaste .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#zerowaste .swiper-slide:hover a {
  color: #000;
  background-color: #fff;
}
#zerowaste .swiperdiv {
  width: calc(50% + 249px);
  height: 100%;
}
#zerowaste .swiper-button-prev, #zerowaste .swiper-button-next {
  color: #000;
  position: unset !important;
}
#zerowaste .zeroSwiperbtn {
  bottom: 0;
  right: 3rem;
  display: flex;
  align-items: center;
}
#zerowaste .swiper-button-prev:after {
  content: "◀";
  font-size: 2rem;
  margin-right: 1rem;
}
#zerowaste .swiper-button-next:after {
  content: "▶";
  font-size: 2rem;
}
#zerowaste .backgroundimg {
  background-repeat: no-repeat;
  background-size: cover;
  width: 380px;
  height: 300px;
  max-width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
#zerowaste .slide1 {
  background-image: url("./img/history1.jpg");
}
#zerowaste .slide2 {
  background-image: url("./img/history2.jpg");
}
#zerowaste .slide3 {
  background-image: url("./img/history3.jpg");
}

#from_truck .airbag {
  background-image: url("./img/airbags.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  max-width: 1920px;
}
#from_truck .air_p {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#from_truck .morebtn {
  color: #000;
  background-color: #fff;
  opacity: 0.5;
  width: 450px;
  height: 80px;
}
#from_truck .morebtn:hover {
  opacity: 1;
}
#from_truck .morebtn p {
  opacity: 1;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3.5;
}

#brandnews .moretxt {
  font-weight: 500;
  font-size: 1.15rem;
}
#brandnews li:hover span {
  font-weight: 700;
}
#brandnews .bntitle {
  font-size: 1rem;
  font-family: "Noto Sans KR";
  font-weight: 500;
  color: #333;
}
#brandnews .bnday {
  font-size: 0.85rem;
  font-family: "Noto Sans KR";
  font-weight: 300;
  color: #333;
}

#onlyF .onlyF_video {
  background-color: #000;
  width: 1824px;
  height: 550px;
}
#onlyF .onlyF_a {
  display: block;
  color: #fff;
  height: 80px;
  font-size: 1.3rem;
  font-family: "helvetica73";
}
#onlyF .onlyF_a:hover p {
  transform: scale(1.1);
}
#onlyF .onlyF_a p {
  background-color: #000;
  line-height: 3.3;
  transition: transform 0.3s;
}

footer {
  background-color: #000;
  width: 100%;
  height: 350px;
}
footer .ft_a {
  width: 250px;
  height: auto;
}
footer .ft_txt {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  font-family: "Noto Sans KR";
}
footer .icons {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 8px;
}
footer .icons img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
}
footer .pl {
  padding-left: 2.7rem;
}

#quick {
  bottom: 1rem;
  right: 2rem;
  z-index: 1100;
}
#quick .quick_bg {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  border: 2px white solid;
}
#quick .fonticon {
  font-size: 1.7rem;
}
#quick .all {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1700px) {
  #mainbanner .main_black .main_title {
    font-size: 2.25rem;
    padding-top: 5rem;
  }
}
@media (max-width: 1550px) {
  #hd.showmenu .icon {
    font-size: 1.2rem;
  }
  #hd.showmenu .gnb_li {
    padding: 1.5rem 30px;
    font-size: 0.9rem;
  }
  #mainbanner .main1 .main_black .main_txt {
    padding-right: 20rem;
  }
  #mainbanner .main_black {
    padding-top: 3rem;
    width: 50%;
  }
  #mainbanner .main_black .main_txt {
    padding-top: 2rem;
    font-size: 9rem;
  }
}
@media (max-width: 1401px) {
  #hd .gnb {
    display: none;
  }
  #hd.showmenu .gnb {
    display: flex;
  }
  #hd.showmenu .icon {
    font-size: 1rem;
  }
  #hd.showmenu .gnb_li {
    padding: 1.5rem 30px;
    font-size: 0.8rem;
  }
  #eventbanner .swiper-slide span {
    font-size: 0.9rem;
    line-height: 2.5;
  }
}
@media (max-width: 1299px) {
  body.no-scroll {
    overflow-y: hidden;
  }
  #hd.showmenu:before {
    opacity: 0;
  }
  #hd.showmenu .gnb {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #000;
    position: absolute;
    right: 0;
    top: 100%;
    width: 70vw;
    height: 100vh;
    z-index: 1200;
    padding-left: 2rem;
    padding-top: 15vh;
  }
  #hd.showmenu .gnb .gnb_li {
    padding: 0;
    line-height: 2.5;
    font-size: 1.15rem;
    width: 100%;
    padding-right: 3rem;
  }
  #hd.showmenu .gnb .gnb_li.action .gnb_ul {
    max-height: 230px !important;
  }
  #hd.showmenu .gnb .gnb_li.action .gnb_a:after {
    content: "\f27c";
  }
  #hd.showmenu .gnb .gnb_li .gnb_a:after {
    content: "\f279";
    font-family: "bootstrap-icons";
    display: block;
    text-align: end;
    font-size: 1rem;
    position: absolute;
    right: 10%;
    top: 1%;
  }
  #hd.showmenu .gnb .gnb_li .gnb_ul {
    height: auto;
    max-height: 0;
    position: unset;
    transform: unset;
    font-size: 0.8rem;
    overflow: hidden;
  }
  #hd.showmenu .gnb .gnb_ul {
    text-align: unset;
  }
  #hd.showmenu .formnavi {
    top: 135%;
    left: 32%;
  }
  #hd.showmenu .formnavi input {
    width: 300px;
  }
  #hd .gnb .gnb_ul {
    max-height: 0px;
  }
  #mainbanner .main_txt .main_title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1300px) and (max-width: 1400px) {
  #hd.showmenu .gnb_li {
    padding: 1.5rem 22px;
    font-size: 0.85rem;
  }
}
@media (max-width: 1024px) {
  #mainbanner .main_black {
    background-color: transparent;
    position: relative;
    width: 100%;
  }
  #mainbanner .main_black .main_txt {
    text-align: center;
    padding: 0;
  }
  #mainbanner .main1 .main_black .main_txt {
    font-size: 8rem;
    padding-right: 2rem;
  }
  #mainbanner .d-flex.justify-content-end.w-100:before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.4;
    position: absolute;
  }
  .onlyF_a {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  #product .point_txt {
    font-size: 120px;
  }
}
@media (max-width: 767px) {
  body .search {
    display: none;
  }
  body .fs4 {
    font-size: 1.2rem;
  }
  body .main_txt, body .maintxt {
    font-size: 2rem;
  }
  #mainbanner .main1 .main_black .main_txt {
    font-size: 6.5rem;
    padding: 0;
    line-height: 1;
  }
  #mainbanner .main_black .main_txt .main_title {
    font-size: 2rem;
    line-height: 1;
  }
  #mainbanner .main_black .main_txt .main_a {
    width: 330px;
    font-size: 1.2rem;
    line-height: 4.1;
  }
  #mainbanner .main_black .main_txt .main_subtxt {
    margin: 100px 0;
  }
  #eventbanner .swiper-slide span {
    font-size: 0.7rem;
    line-height: 3;
  }
  #hd.showmenu .gnb {
    width: 100vw !important;
    border-top: 1px #fff solid;
  }
  #hd.showmenu .formnavi {
    left: 3%;
  }
  #hd.showmenu .formnavi input {
    width: 200px;
  }
  .serch {
    display: none;
  }
  #product {
    height: 780px;
  }
  #product .point_txt {
    font-size: 100px;
  }
  #product .swiperbtn .swiper-button-prev:after,
  #product .swiperbtn .swiper-button-next:after {
    font-size: 1.7rem;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  body .main_txt, body .maintxt {
    font-size: 1.5rem;
  }
  #mainbanner .main1 .main_black .main_txt {
    font-size: 4rem;
    padding: 0;
  }
  #mainbanner .main_black .main_txt {
    padding-top: 0;
  }
  #product {
    height: 740px;
  }
  #product .product_subtxt {
    display: none;
  }
  #product .point_txt {
    font-size: 80px;
  }
}
@media (max-width: 375px) {
  #hd.showmenu .formnavi {
    left: 5%;
  }
  #mainbanner .main1 .main_black .main_txt {
    font-size: 3.2rem;
    padding-top: 0;
  }
  #mainbanner .main_black .main_txt .main_title {
    font-size: 2rem;
    line-height: 1;
  }
  #mainbanner .main_black .main_txt .main_a {
    width: 330px;
    font-size: 1.2rem;
    line-height: 4.1;
  }
  #mainbanner .main_black .main_txt .main_subtxt {
    margin: 100px 0;
  }
  #product .point_txt {
    font-size: 60px;
    padding-right: 1rem;
  }
}
.brrwd br {
  display: none;
}
@media (max-width: 575px) {
  .brrwd br {
    display: block;
  }
}

@media (max-width: 374px) {
  #mainbanner .main_black .main_txt .main_a {
    width: 290px;
  }
}