@charset "UTF-8";
body {
  font-family: "helvetica neue", "Noto Sans KR", sans-serif !important;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #000000;
}
body li {
  list-style: none;
}
body ul, body li, body p {
  padding: 0;
  margin: 0;
}
body .maintxt {
  color: #000;
  font-family: "Helvetica73-Extended", "Noto Sans KR", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -1.6px;
}
body .subtxt {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .subproduct {
  color: #fff;
  font-family: "Helvetica75", "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.36px;
  opacity: 1;
  padding: 0 0 0.5rem 0.8rem;
  bottom: 0;
  left: 0;
  right: 0;
}
body .subproduct .small {
  top: 90%;
}
body .subproduct .tall {
  top: 80%;
}
body .mx20 {
  margin: 0 20px;
}
body .mt20 {
  margin-top: 20px;
}
body .mt200 {
  margin-top: 200px;
}
body .pt80 {
  padding-top: 80px;
}

#eventbanner {
  height: 35px;
}
#eventbanner .swiper-slide {
  width: 33.333%;
  max-width: 400px;
}
#eventbanner .swiper-slide span {
  line-height: 2;
  color: #000;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

#hd {
  background-color: #000;
}
#hd a {
  color: white;
  white-space: nowrap;
}
#hd h1 a {
  width: 150px;
}
#hd .gnb .gnb_li {
  z-index: 100000;
}
#hd .gnb .gnb_li:hover .gnb_a {
  text-decoration: underline;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 400px;
}
#hd .gnb .gnb_li:hover li a:hover {
  text-decoration: underline;
}
#hd .gnb .gnb_li .gnb_ul {
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  background-color: black;
  transition: 0.5s;
  text-align: center;
  line-height: 2;
  max-height: 0;
  padding: 0;
}
#hd .gnb .gnb_li .gnb_ul li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 2rem;
}
#hd .gnb .gnb_li .gnb_ul li:nth-child(1) {
  border-top: 1px solid white;
  padding-top: 20px;
}
#hd .gnb .gnb_li .gnb_ul li:last-child {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

#mainbanner {
  font-family: "helvetica-neue";
}
#mainbanner .swiper {
  width: 100%;
  height: 100%;
}
#mainbanner .swiper-slide {
  text-align: center;
  font-size: 1.15rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainbanner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainbanner .main1 {
  background-image: url("./img/mainbanner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}
#mainbanner .main1 .main_txt {
  top: 22%;
  left: -45%;
  color: #fff;
  font-size: 11rem;
  line-height: 0.75;
  font-weight: 900;
}
#mainbanner .main2 {
  background-image: url("./img/mainbanner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}
#mainbanner .main3 {
  background-image: url("./img/mainbanner3-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 800px;
}
#mainbanner .main_black {
  width: 690px;
  height: 800px;
  background-color: #000000;
}
#mainbanner .main_a {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  display: block;
  width: 450px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 3.3;
}
#mainbanner .main_txt {
  top: 22%;
  left: 16%;
}
#mainbanner .main_txt .main_subtxt {
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 100px 0 170px;
}
#mainbanner .main_txt .main_title {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
}
#mainbanner .swiper-scrollbar-drag {
  background: #fff;
}

#product {
  display: block;
  width: 100%;
  height: 700px;
  background-color: #000;
}
#product .overlay {
  width: 364px;
  height: 350px;
  background-color: #000;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
}
#product .overlay:hover {
  opacity: 0.75;
}
#product h2 {
  color: #fff;
  font-family: "Helvetica73-Extended";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.76px;
}
#product .product_subtxt {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
#product .point_txt {
  color: #fff;
  font-family: "Helvetica53-Extended";
  font-size: 150px;
  font-weight: 400;
  line-height: normal;
  text-align: end;
  padding-right: 2rem;
}

#about_prietag .about_smdiv {
  width: calc((100% - 640px) / 2);
  height: 550px;
}
#about_prietag .about_talldiv {
  width: 600px;
  height: 550px;
}

#zerowaste {
  height: 300px;
}
#zerowaste .zerotxt {
  width: calc(50% - 249px);
  height: 300px;
}
#zerowaste .zerotxt p {
  font-size: 1rem;
}
#zerowaste .subtitle {
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#zerowaste .swiper {
  width: 100%;
  height: 100%;
}
#zerowaste .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#zerowaste .swiperdiv {
  width: calc(50% + 249px);
  height: 100%;
}
#zerowaste .swiper-button-prev:after {
  content: "◀";
  font-family: "swiper-icons";
  font-size: 2rem;
  text-transform: none !important;
  color: #000;
  position: absolute;
  top: 250%;
  right: -595px;
}
#zerowaste .swiper-button-next:after {
  content: "▶";
  font-family: "swiper-icons";
  font-size: 2rem;
  text-transform: none !important;
  color: #000;
  position: absolute;
  top: 250%;
  left: -39px;
}
#zerowaste .backgroundimg {
  background-repeat: no-repeat;
  background-size: cover;
  width: 380px;
  height: 300px;
  max-width: 100%;
  color: #fff;
  font-size: 1.5rem;
}
#zerowaste .slide1 {
  background-image: url("./img/history1.jpg");
}
#zerowaste .slide2 {
  background-image: url("./img/history2.jpg");
}
#zerowaste .slide3 {
  background-image: url("./img/history3.jpg");
}

#from_truck .airbag {
  background-image: url("./img/airbags.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  max-width: 1920px;
}
#from_truck .air_p {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#from_truck .morebtn {
  color: #000;
  background-color: #fff;
  opacity: 0.5;
  width: 450px;
  height: 80px;
}
#from_truck .morebtn:hover {
  opacity: 1;
}
#from_truck .morebtn p {
  opacity: 1;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3.5;
}

#brandnews .bntitle {
  font-size: 1rem;
  font-family: "Noto Sans KR";
  font-weight: 500;
  color: #333;
}
#brandnews .bnday {
  font-size: 0.85rem;
  font-family: "Noto Sans KR";
  font-weight: 300;
  color: #333;
}

#onlyF .onlyF_video {
  background-color: #000;
  width: 1824px;
  height: 550px;
}
#onlyF .onlyF_a {
  display: block;
  background-color: #000;
  color: #fff;
  width: 594px;
  height: 80px;
  font-size: 1.5rem;
}
#onlyF .onlyF_a p {
  line-height: 3.4;
}

footer {
  background-color: #000;
  width: 100%;
  height: 350px;
}
footer .ft_a {
  width: 250px;
  height: auto;
}
footer .ft_txt {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  font-family: "Noto Sans KR";
}
footer .icons {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 8px;
}
footer .icons img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
}
footer .pl {
  padding-left: 2.7rem;
}

#quick {
  bottom: 1rem;
  right: 2rem;
  z-index: 10000;
}
#quick .quick_bg {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 10px;
  border: 2px white solid;
}
#quick .fonticon {
  font-size: 1.7rem;
}
#quick .all {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}