body{
    font-family: 'helvetica neue','Noto Sans KR', sans-serif !important;

    a{
     text-decoration: none;
     color: #000000;
    }
    li{
        list-style: none;
    }

}
#hd{
    // height: 80px;
    background-color: #000000;

    a{
    color: white;
    white-space: nowrap;
    }
    h1{
        a{
            width: 150px;
            
            img{
                
            }
        }
    }
    .gnb{
   
        .gnb_li{
            z-index: 100000;
            &:hover{
                .gnb_a{
                    text-decoration: underline;
                }

        
            .gnb_ul{
                max-height: 400px;    
            }
            li a:hover {
                text-decoration: underline;
            }
        }
        }

        .gnb_li{

            .gnb_a{
            
            }
            .gnb_ul{ //소메뉴
                top: 100%;
                transform: translateX(-50%);
                left: 50%;
                overflow: hidden;
                background-color: black;
                transition: 0.5s;
                text-align: center;                
                line-height: 2;
                max-height: 0;
                padding: 0;

                li{
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    padding: 0 2rem;

                    &:nth-child(1){
                        border-top: 1px solid white;
                        padding-top: 20px;
                    }

                    &:last-child{
                        border-bottom: 1px solid white;
                        padding-bottom: 20px;
                    }
                }
            }
        }
}
}
#mainbanner{
    font-family: 'helvetica-neue';
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .main1{
        background-image: url("/img/mainbanner1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1920px;
        height: 800px;

        .main_black{
            width: 660px;
            height: 800px;
            background-color: #000000;
        }
        .main_txt{

            top: 22%;
            left: 49%;

            .main_title{
                color: #fff;
                font-size: 11rem;
                line-height: 0.75;
                font-weight: 900;
            }
         
         }
      }
      .main2{
        background-image: url("/img/mainbanner2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1920px;
        height: 800px;
      }
      .main3{
        background-image: url("/img/mainbanner3-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1920px;
        height: 800px;
      }
}
