@font-face {
    font-family: 'Helvetica Black';
    font-weight: 900;
    src: url('./HelveticaNeue-Black.otf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('./HelveticaNeue-Condensed.otf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Extended';
    src: url('./HelveticaNeue-Extended.otf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue-Ultra';
    src: url('./HelveticaNeue-UltraLigCond.otf') format('truetype');
}


